= provide(:sidebar_class,'step03')

.content.row-fluid.padtop30
 h1 What is the URL of your website?
 br
 p Add a website in 3 easy steps:
 ol
  li
   |Add your site URL.
  li
   |Add the Tolq Snippet to your website.
  li
   |Select a subscription for your website.
 br
 br
 input.input-website type="text" placeholder="www.example.com"
 p.clearfix
  a.btn.btn-large.pull-left href="#" Cancel
  a.btn.btn-large.btn-blue.pull-right href="#" Next
  a.btn.btn-large.pull-right href="#" Back
