// Place all the styles related to the AccountDetails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.top-nav{ margin: 0 auto; text-align: center; }
.top-nav ul{ list-style: none; margin: 0; padding: 0; }
.top-nav li{ display: inline-block; margin: 0 5%; }
.top-nav li span.icon{ width: 62px; height: 63px; display: block; margin-bottom: 10px; margin: 0 auto; }
.top-nav li a{ color: #888888; text-decoration: none; text-align: center; }

.top-nav .nav01 .icon{ background: url('/assets/icon-dash.png') no-repeat top; }
.top-nav .nav02 .icon{ background: url('/assets/icon-trans.png') no-repeat top; }
.top-nav .nav03 .icon{ background: url('/assets/icon-lang.png') no-repeat top; }
.top-nav .nav04 .icon{ background: url('/assets/icon-account.png') no-repeat top; }

.top-nav li a:hover{ color: #265297; }
.top-nav li a:hover .icon, .top-nav li.active a .icon{ background-position: bottom; }
.top-nav li.active a{ color: #265297; font-weight: bold; }


#mid-inner{ padding: 25px 0 0 0; }
#mid-inner .mid-item{ margin-bottom: 30px; }
#mid-inner .box{ padding: 12px; border: #cccccc 1px solid; color: #aaaaaa; font-size: 14px; position: relative; }
#mid-inner .box .current-balance{ color: #265297; font-size: 20px; font-weight: 600; margin-bottom: 5px; }
#mid-inner .box .bank{ font-weight: 600; font-size: 18x; margin: 0; }
#mid-inner .box .bank span{ margin-right: 30px; float: left; }
#mid-inner .box .link1{ text-decoration: underline; color: #2e83d0; }
#mid-inner .nopad{ padding: 0; }

.left-ttl .btn{  font-size: 16px!important; color: #777777!important; font-family: 'Source Sans Pro'; font-weight: 600; padding: 3px 20px!important; }
.btn-withdraw{ font-size: 18px!important; color: #777777!important; font-family: 'Source Sans Pro'; font-weight: 600; padding: 5px 10px 7px!important; margin-top: 5px; margin-left: 15px; }
.wrap-wd span{ padding-top: 12px; font-size: 16px; float: left; }
.left-ttl h2{ text-align: right; color: #7b9c52; font-size: 23px; line-height: 24px; margin: 10px 0 10px; padding: 0; }
.btn-small{ font-size: 15x!important; color: #777777!important; font-family: 'Source Sans Pro'; font-weight: 600; }

#mid-inner .box .account-pic{ float: left; margin: -12px 20px -12px -12px; }
#mid-inner .box .change-pass{ float: right; margin: 15px 0 0 0; }

#mid-inner .box ul.info{ padding: 0; margin: 0; list-style: none; }
#mid-inner .box ul.info li{ margin-bottom: 5px; }
#mid-inner .box ul.info h3{ color: #265297; font-size: 24px; font-weight: 600; line-height: 22px; padding: 0; margin: 0; }
#mid-inner .box ul.info h4{ color: #406cab; font-size: 16px; font-weight: 600; line-height: 18px; padding: 0; margin: 0; }
#mid-inner .box ul.info a{ font-size: 16px; text-decoration: none; font-weight: 600; color: #406cab; }
#mid-inner .box ul.info .email{ margin-bottom: 25px; }
#mid-inner .box ul.info span.address{ padding-left: 40px; }


.box-tab{ width: 100%; color: #555555; font-family: 'Source Sans Pro'; font-size: 16px; }
.box-tab tr td{ padding: 5px 10px; text-align: right; width: 33.33%; }
.box-tab tr td.col01{  padding: 5px 20px; }
.box-tab tr{ border-bottom: #e5e5e5 1px solid; }
.box-tab tr.last{ border: none; }

.cb{ float: left; margin-right: 10px!important; }
.pref label{ color: #555555; font-size: 16px; }
.pref p.last{ margin-bottom: 0; }


.dataoff{ display: none; text-align: center; }
.dataoff p.note{ margin: 0; font-size: 16px; font-weight: 600; }


.editcontent{ display: none; }
.editcontent .box{ background: #f5f7fa; border: #cbd6e6 1px solid!important; }
.editcontent .span9{ margin-right: 2.5641%; margin-left: 0!important; }
.addphoto{ float: left; width: 150px; height: 150px; margin: 0 20px 0 0; background: url('/assets/addphoto.jpg') no-repeat; }

#editaccount-form .tax-wrap{ margin-bottom: 20px; }
#editaccount-form{ margin-left: -10px; padding-right: 30px; }
#editaccount-form .col{ float: left; }
#editaccount-form .col1,
#editaccount-form .col2{ width: 25%; margin-right: 25px; }
#editaccount-form .col2{ margin-right: 0; }
#editaccount-form .col3{ width: 35%; float: right; margin-right: 40px; }
#editaccount-form .col3 input[type="text"]{  
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/** Class States **/
.nodatastate{}
.nodatastate .def,
.editstate .def{ display: none; }
.nodatastate .dataoff,
.editstate .editcontent{ display: block; }