// Place all the styles related to the SignupEmail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap-responsive";

.txt-right{ text-align: right; }

#header{ background: #efefef; border-bottom: #bcbcbc 1px solid; padding: 10px 0; }
#logo{ margin: 0 0 0 20px; }

.user-info{ text-align: center; }
.user-pic{ border: #2c2c2c 1px solid; width: 58px; height: 58px; margin: 0 auto; }
.user-name { text-align: center; }
.user-name a{ color: #808080; }


#content #main{ padding: 0 20px; }

#signup-form input[type="text"],
#signup-form input[type="password"],
#signup-form input[type="email"]{ width: 90%; }
#signup-form input[type="submit"]{ margin-right: 35px; }

/** Sidebar **/
#sidebar{ background: #f7f7f7 url('/assets/sidebar-bg.png') repeat-y left; }

.side-wrap{ padding-left: 20px; padding-right: 20px; }

#sidebar .sidebar-ttl{ color: #1d3e84; }
#sidebar .widget{ 
	border: #bdbdbd 1px solid; 
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-bottom: 10px;
}
#sidebar .widget-title{ padding: 0 10px 10px; border-bottom: #bdbdbd 1px solid;  }
#sidebar .widget-title i{ float: right; margin: 5px 0 0; }
#sidebar .widget-content{ padding: 15px 20px; }
#sidebar .widget-title input[type="checkbox"]{ margin: 3px 10px 0 0!important; }

#sidebar .notext .widget-title{ margin-bottom: 0; border-bottom: none; padding-bottom: 12px; }

#sidebar label.checkbox.inline{ 
	font-size: 18px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    cursor: pointer; 
}

